@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Or, if the font files are in your local directory */
@font-face {
  font-family: "Inter";
  src: url("/path/to/Inter-Regular.woff2") format("woff2"),
    url("/path/to/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}
.w-custom {
  width: 800px;
  height: 100%;
}
.h-custom {
  height: 26rem;
}
.box {
  position: relative;
  z-index: 9;
}
.coat-of-arms {
  position: absolute;
  height: 500px;
  width: 500px;
  z-index: 1;
  opacity: 0.3;
  transform: translateX(150px) translateY(100px);
}
.my-borders {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.custom-borders {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
