@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
  display: inline-block;
}
.w-custom {
  width: 800px;
  height: 100%;
}
.h-custom {
  height: 26rem;
}
